{{ 'scrolling-text.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign st = section.settings
  assign color_scheme = st.color_scheme
  assign text_font_size = st.text_font_size
  assign text_font_weight = st.text_font_weight
  assign text_time = st.text_time
  assign text_spacing = st.text_spacing
  assign text_title = st.text_title
  assign spacing_icon = st.spacing_icon
  assign enabled_animations = settings.animations_enabled
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
  assign spt_tablet = ''
  if st.padding_top > 50
    assign spt_tablet = ' spt-tablet'
  endif
  assign spt_mobile = ''
  if st.padding_top > 30
    assign spt_mobile = ' spt-mobile'
  endif
  assign spb_tablet = ''
  if st.padding_bottom > 50
    assign spb_tablet = ' spb-tablet'
  endif
  assign spb_mobile = ''
  if st.padding_bottom > 30
    assign spb_mobile = ' spb-mobile'
  endif
-%}

{%- capture style -%}
  --text-font-size: {{ text_font_size }}px;
  --text-font-weight: {{ text_font_weight }};
  --text-time: {{ text_time }}s;
  --text-spacing: {{ text_spacing }}px;
  --section-padding-top: {{ st.padding_top }}px; --section-padding-bottom: {{ st.padding_bottom }}px;
{%- endcapture -%}

<section
  class="color-{{ color_scheme }} gradient bls__section {{ spt_tablet }}{{ spb_tablet }}{{ spt_mobile }}{{ spb_mobile }} bls__scrolling  {{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ st.container }} section-full">
    <div class="bls__page-scrolling-content d-flex align-items-center overflow-hidden {% if enabled_animations %}scroll-trigger animate--slide-in{% endif %}">
      {%- for i in (0..5) -%}
        <div class=" d-flex align-items-center {% if text_title %}scroll-text-title{% endif %}">
          {%- for block in section.blocks -%}
            <a
              {{ block.shopify_attributes }}
              aria-label="{{ block.settings.content }}"
              {% if block.settings.text_link != blank %}
                href="{{ block.settings.text_link }}"
              {% else %}
                role="link"
                aria-disabled="true"
              {% endif %}
            >
              {{ block.settings.content }}
              <span class="scroll-line {% if  spacing_icon == 'icon_circle' %} d-flex align-items-center {% endif %}">
                {% if spacing_icon == 'icon_line' %}
                  <span class="icon-line"></span>
                {% elsif spacing_icon == 'icon_circle' %}
                  <i class="picon-circle fs-9"></i>
                {% elsif spacing_icon == 'icon_flash' %}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="26"
                    viewBox="0 0 18 26"
                    fill="currentColor"
                  >
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5559 0.648142C10.0871 1.25336 2.33014 12.3472 2.35695 12.3741C2.37446 12.3915 3.641 12.4051 5.17152 12.4042C6.70204 12.4033 7.96318 12.4184 7.97414 12.4379C7.98504 12.4573 6.19186 15.3972 3.98929 18.9708C1.78671 22.5445 -0.00845001 25.4768 2.99199e-05 25.4871C0.00850985 25.4973 4.06197 21.7805 9.0077 17.2274L18 8.94911L14.6837 8.93491C12.8597 8.92709 11.3674 8.90864 11.3674 8.89383C11.3674 8.87901 12.6439 7.00941 14.2041 4.73916C15.7643 2.4689 17.0554 0.573199 17.0733 0.526505C17.1024 0.450681 16.7664 0.44165 13.9109 0.44165H10.7159L10.5559 0.648142Z" fill="currentColor"/>
                  </svg>
                {% endif %}
              </span>
            </a>
          {%- endfor -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.scrolling-text.name",
  "disabled_on": {
    "groups": ["footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.header.general"
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:sections.all.layout.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.layout.options__1.label"
        },
        {
          "value": "container-fluid",
          "label": "t:sections.all.layout.options__2.label"
        },
        {
          "value": "strecth-width",
          "label": "t:sections.all.layout.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.all.layout.options__4.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "range",
      "id": "text_font_size",
      "min": 10,
      "max": 80,
      "step": 1,
      "label": "t:sections.all.typography.default_size",
      "unit": "px",
      "default": 12
    },
    {
      "type": "range",
      "id": "text_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "label": "t:sections.all.typography.default_weight",
      "default": 500
    },
    {
      "type": "range",
      "id": "text_time",
      "min": 3,
      "max": 30,
      "step": 1,
      "label": "t:sections.scrolling-text.settings.text_time.label",
      "unit": "s",
      "default": 10
    },
    {
      "type": "range",
      "id": "text_spacing",
      "min": 10,
      "max": 100,
      "step": 1,
      "label": "t:sections.scrolling-text.settings.text_spacing.label",
      "unit": "px",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "text_title",
      "label": "t:sections.scrolling-text.settings.text_title.label",
      "default": false
    },
    {
      "type": "select",
      "id": "spacing_icon",
      "label": "t:sections.scrolling-text.settings.spacing_icon.label",
      "default": "icon_line",
      "options": [
        {
          "value": "icon_line",
          "label": "t:sections.scrolling-text.settings.spacing_icon.options__1.label"
        },
        {
          "value": "icon_circle",
          "label": "t:sections.scrolling-text.settings.spacing_icon.options__2.label"
        },
        {
          "value": "icon_flash",
          "label": "t:sections.scrolling-text.settings.spacing_icon.options__3.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "t:sections.all.reset_spacing.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "scrolling_text",
      "name": "t:sections.scrolling-text.blocks.Content.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.scrolling-text.blocks.Content.settings.content.label",
          "default": "<p>FREE DELIVERY AND RETURNS FROM $120</p>"
        },
        {
          "type": "url",
          "id": "text_link",
          "label": "t:sections.scrolling-text.blocks.Content.settings.text_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.scrolling-text.name",
      "blocks": [
        {
          "type": "scrolling_text"
        },
        {
          "type": "scrolling_text"
        },
        {
          "type": "scrolling_text"
        },
        {
          "type": "scrolling_text"
        }
      ]
    }
  ]
}
{% endschema %}
